.env
.idea
__debug_bin*
build
bin
cachydb
.cachydb

# Example binaries - ignore everything except .go and .md files
examples/*
!examples/*.md
!examples/*/
examples/*/*
!examples/*/*.go
!examples/*/*.md
